<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/main.css" />
    <title>Home Page</title>
</head>
<body>
    <h2>Home Page</h2>
    <a href="/menu"><p>Link to the menu</p></a>
    <h4>History of the pizzeria</h4>
    <a href="/history"><p>The pizzeria's history</p></a>
    <footer>©2024 Mario&Luigi. All Rights Reserved.<br>Contacts<br>(phone photo) +31 69 228 6666<br>(email photo) ceoofpizzeria@forreal</footer>
</body>
</html>