<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/main.css" />
    <title>Menu</title>
</head>
<body>
    <h3>Menu</h3>
    <p>Add kinda shopping cart (on the right side)</p>
    <p>Two columns where you can click on pizzas, read descriptions, see prices, add toppings (might be) and etc</p>
    <a href="/order_overview"><p>Link to the order overview (should be located in the shopping cart)</p></a>
    <footer>©2024 Mario&Luigi. All Rights Reserved.<br>Contacts<br>(phone photo) <a href="tel:+31 69 228 6666"> +31 69 228 6666</a><br>(email photo) <a href="mailto:ceoofpizzeria@forreal">ceoofpizzeria@forreal</a></footer>

</body>
</html>